<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="ru">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Главная страница</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Aki</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form id="log_out_form" th:action="@{/logout}" method="post">
                </form>
                <li class="navbar-link"><a href="#" id="log_out">Sign out</a></li>
                <script>
                    $("#log_out").on("click", function ()
                    {
                        $("#log_out_form").submit();
                    });
                </script>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div>
        <input class="input-sm" type="text" placeholder="The question"/>
        <select th:if="${categories} != null and ${categories.size()} != 0">
            <th:block th:each="category : ${categories}">
                <option th:text="${category.toString()}"></option>
            </th:block>
        </select>
        <button class="input-sm" id="addButton">Add</button>
    </div>
</div>
<script>
    $("#addButton").on("click", async function(){
        await sendPostReqRet("/addQuestion", {
            categoryTitle: category,

        });
    });
    async function sendPostReq(url, data, successFunction)
    {
        await $.ajax({
            url: url,
            type: "POST",
            data: JSON.stringify(data),
            headers: {
                'Content-Type': 'application/json'
            },
            success: successFunction
        });
    }
    async function sendPostReqRet(url, data)
    {
        let retVal;
        await sendPostReq(url, data, function(variable) { retVal = variable; });
        return retVal;
    }
</script>
</body>
</html>