<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="ru">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Главная страница</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Aki</a>
        </div>
        <div>
            <ul class="nav navbar-nav" th:if="${user.isAdmin() == true}">
                <li class="navbar-link"><a href="/add_category">Add category</a></li>
                <li class="navbar-link"><a href="#" id="questadd">Add question</a></li>
                <li class="navbar-link"><a href="#" id="questdel">Delete question</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form id="log_out_form" th:action="@{/logout}" method="post">
                </form>
                <li class="navbar-link"><a href="#" id="log_out">Sign out</a></li>
                <script>
                    $("#log_out").on("click", function ()
                    {
                        $("#log_out_form").submit();
                    });
                </script>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <label class="text-info" id="msgLabel" th:text="${message != null} ? ${message} : ''"></label>
    <div th:if="${categories != null}" id="categories">
        <div th:each="category : ${categories}">
            <input type="hidden" th:value="${category.getId()}"/>
            <input class="submitButton" type="button" th:value="${category.getTitle()}"/>
        </div>
    </div>
    <div th:if="${categories == null}">No categories</div>
    <div hidden id="addQuestion">
        <input class="input-sm" id="msg" type="text" placeholder="The question"/>
        <select id="selectron" th:if="${categories} != null and ${categories.size()} != 0">
            <th:block th:each="category : ${categories}">
                <option th:text="${category.toString()}"></option>
            </th:block>
        </select>
        <button class="input-sm" id="addButton">Add</button>
    </div>
</div>
<script>
    let htmlCategories = $("#categories")[0].innerHTML;
    let currentQuestionsPool = [];
    let currentQuestion;
    let htmlQuestion =
            '<p id="theQuestion">Question</p>' +
            '<button id="yesButton">Yes</button>'+
            '<button id="noButton">No</button>'+
            '<button id="mainButton">Main</button>';
    let addQuestBool = false;
    let inCategoryMode = true;
    async function buildQuestion(id)
    {
        let question = await getQuestionById(id);
        $("#theQuestion")[0].textContent = question.message;
    }
    function showCategories()
    {
        inCategoryMode = true;
        $("#categories")[0].innerHTML = htmlCategories;
        $("#selectron").removeAttr("hidden");
    }
    function setCategoryClickCallback()
    {
        $(".submitButton").on("click", async function (data) {
            let choosedCategory = data.target.previousElementSibling.value;
            $("#categories")[0].innerHTML = "";
            currentQuestionsPool = await getQuestionsIdsByCategoryId(choosedCategory);
            $("#categories")[0].innerHTML = htmlQuestion;
            setYesButtonClickCallback();
            setNoButtonClickCallback();
            setMainButtonClickCallback();
            await showNextQuestion();
        });
    }
    async function showNextQuestion()
    {
        if(currentQuestionsPool.length > 0)
        {
            inCategoryMode = false;
            $("#selectron").attr("hidden", "");
            currentQuestion = currentQuestionsPool[0];
            currentQuestionsPool.shift();
            await buildQuestion(currentQuestion);
        }
        else
        {
            showCategories();
            setCategoryClickCallback();
        }
    }
    function setYesButtonClickCallback()
    {
        $("#yesButton").on("click", async function () {
            currentQuestionsPool = await getNextQuestionsByQuestionId(currentQuestion);
            await showNextQuestion();
        });
    }
    function setNoButtonClickCallback()
    {
        $("#noButton").on("click", async function() {
            await showNextQuestion();
        });
    }
    function setMainButtonClickCallback()
    {
        $("#mainButton").on("click", function() {
            showCategories();
            currentQuestion = null;
            setCategoryClickCallback();
        });
    }
    function setCallbacks()
    {
        setCategoryClickCallback();
        $("#questadd").on("click", function () {
            addQuestBool = !addQuestBool;
            if(addQuestBool)
            {
                $("#addQuestion").removeAttr("hidden");
                if(inCategoryMode)
                    $("#selectron").removeAttr("hidden");
                else
                    $("#selectron").attr("hidden", "");
            }
            else
            {
                $("#addQuestion").attr("hidden", "");
                $("#selectron").attr("hidden", "");
            }
        });
        $("#questdel").on("click", async function(){
            $("#msgLabel")[0].textContent = await sendPostReqRet("/deleteQuestion", {
                questionId: currentQuestion
            });
        });
        $("#addButton").on("click", async function(){
            let category;
            if(inCategoryMode)
                category = $("#selectron")[0].value;
            else
                category = null;
            let msg = $("#msg")[0].value;
            $("#msgLabel")[0].textContent = await sendPostReqRet("/addQuestion", {
                categoryTitle: category,
                prevId: currentQuestion,
                message: msg
            });
        });
    }
    async function sendPostReq(url, data, successFunction)
    {
        await $.ajax({
            url: url,
            type: "POST",
            data: JSON.stringify(data),
            headers: {
                'Content-Type': 'application/json'
            },
            success: successFunction
        });
    }
    async function sendPostReqRet(url, data)
    {
        let retVal;
        await sendPostReq(url, data, function(variable) { retVal = variable; });
        return retVal;
    }
    async function getQuestionsIdsByCategoryId(id)
    {
        return await sendPostReqRet("/getCategoryQuestions", { category: id });
    }
    async function getQuestionById(id)
    {
        return await sendPostReqRet("/getQuestion", { id: id });
    }
    async function getNextQuestionsByQuestionId(id)
    {
        return await sendPostReqRet("/getNextQuestions", {id: id});
    }
    setCallbacks();
</script>
</body>
</html>